*, *::before, *::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-size: 28px;
  padding: 0;
  background: #ce5937;
  background: -moz-linear-gradient(left, #ce5937 0%, #1c6ea4 50%, #c59237 100%);
  background: -webkit-linear-gradient(
    left,
    #ce5937 0%,
    #1c6ea4 50%,
    #c59237 100%
  );
  background: linear-gradient(to right, #ce5937 0%, #1c6ea4 50%, #c59237 100%);
}

